body {
    margin: 0;
    padding: 0;
    font-size: 24px;
    background-color: #660099;
    box-sizing: border-box;
}

form {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #934CB7;
}
label,input {
    grid-column: 1/5;
}
input {
    padding: 5px;
}
input:focus {
    outline: 2px solid red;
}
#title, #description {
    text-align: center;
    grid-column: 1/5;
}
select {
    grid-column: 1/5;
}
fieldset {
    border: 0;
    grid-column: 1/5;
    padding-left: 0;
    padding-top: 10px;
}

fieldset div {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

fieldset div label {
    order: 99999;
    padding-left: 10px;
}

select {
    font-size: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}

textarea {
    grid-column: 1/5;
    resize: vertical;
    padding: 5px;
}

#submit {
    grid-column: 1/5;
    font-size: 100%;
}
::placeholder {
    opacity: 1;
    color: rgb(100,100,100);
    font-style: italic;
}
@media screen and (min-width: 520px){
    label {
        grid-column: 2/3;
    }
    input {
        grid-column: 3/4;
    }
    select {
        grid-column: 3/4;
        align-self: center;
    }
    fieldset {
        grid-column: 2/4;
        margin: 0;
        padding: 0;
    }
    textarea {
        grid-column: 3/4;
    }
    #submit {
        max-width: 125px;
        margin: 0 auto;
    }
}